<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>호스트 메인</title>
    <link rel="stylesheet" th:href="@{/css/host_main.css}"/>
</head>
<body>
<div th:replace="~{fragments/side-left::side-left}">왼쪽 사이드바</div>

<main layout:fragment="main">
    <div class="small-gnb">
        <div class="small-gnb-container">
            <a class="small-gnb-item" href="/room-management">방관리</a>
            <a class="small-gnb-item" href="/contract">계약</a>
            <a class="small-gnb-item" href="/chat">채팅</a>
            <a class="small-gnb-item" href="/settlement">정산</a>
            <a class="small-gnb-item" href="/more">더보기</a>
        </div>
    </div>

    <!--    방리스트-->
    <div class="wrap bg_wrap">
        <section class="content">


            <!-- userId 입력 필드 추가 -->
            <!--            <input type="hidden" id="userId" name="userId" value="3">-->

            <div class="host_room_reg">
                <div class="flex">
                    <p class="title_left">방관리</p>
                </div>
                <div class="flex list_option">
                    <button type="button" class="btn medium purple"
                            onclick="window.location.href='/webpc/host/room/update/1/0'">방 등록하기
                    </button>
                </div>

                <!-- 방 리스트를 표시할 ul 요소 추가 -->
                <ul class="list_item" id="room_list"></ul>
                <script>
                    const userId = 3; // 실제 사용자 ID를 여기에 설정
                </script>
                <script src="/js/roomManagement.js"></script> <!-- 외부 JavaScript 파일 포함 -->

                <!--                <ul class="list_item" id="room_list">-->
<!--                    <li roomitem>-->
<!--                        <dl class="room_item" room-status="saving" filled-status="false">-->
<!--                            <dt>-->
<!--                                <img src="https://d1pviohoskiraj.cloudfront.net/room/6eb8019e-557f-42ea-8d82-ce56d3e70d73.jpg?b=samsamm2&amp;d=240x240"-->
<!--                                     alt="">-->
<!--                            </dt>-->
<!--                            <dd>-->
<!--                                <p class="room_name ellipsis">-->
<!--                                    <a class="disable_preview">ㅇㄴㄹㅇㄴ </a>-->
<!--                                </p>-->
<!--                                <p class="room_address">서울특별시 강남구 역삼동 831-44 한국정보통신진흥협회 빌딩 ㅇㄴㄹㄴㅇ</p>-->
<!--                                <div class="room_pay">-->
<!--                                    <p>-->
<!--                                        <strong>2,354,340</strong><em>원</em>-->
<!--                                        <span>/1박</span>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </dd>-->
<!--                        </dl>-->

                        <div class="drop_down" id="dropDown">
                            <button type="button" class="btn_drop" id="toggleButton"><span>더보기</span></button>
                            <div class="drop_layer">
                                <ul class="btn_more">
                                    <li class="icon_more_modify"><a btn-room-modify="44064">수정하기</a></li>
                                    <li class="icon_more_del"><a btn-room-delete="44064">삭제하기</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>




<!--                </ul>-->


            </div>


        </section>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("toggleButton");
            const dropDown = document.getElementById("dropDown");

            toggleButton.addEventListener("click", function () {
                dropDown.classList.toggle("is_active"); // 'is_active' 클래스를 토글
            })
        })
    </script>
</main>

<div th:replace="~{fragments/side-right::side-right}">오른쪽 사이드바</div>

</body>
</html>