<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>test</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/fragments.css}"/>
  <link rel="stylesheet" th:href="@{/css/service.css}"/>
</head>

<body class="test-body">
<div>
  <div th:replace="~{fragments/gnb :: gnb}"></div>
  <div id="main" class="main-container" layout:fragment="main"></div>
  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>