<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="'단기임대 숙소 | 당근모아'"> 단기임대 숙소 | 당근모아 </title>
  <link rel="stylesheet" th:href="@{/css/guest-room-detail.css}"/>
</head>

<main layout:fragment="main">
  <div class="container">
    <h3 class="title"> 계약관리 </h3>
    <div class="guest_contract">
      <div class="contract-item" th:each="booking : ${bookings}">
<!--        결제 완료(사용 전)-->
        <div class="contract-header" th:if="${booking.status == 1}">
          <div class="flex" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
            <span class="badge orange">계약 완료</span>
            <p class="room_title" th:text="">애버랜드</p>
          </div>
            <div class="booking-booked" th:if="${booking.status == 1}">
            <input name="id" th:value="${booking.accommodationId}" type="hidden">
            <h4 class="title"> 계약 목록 </h4>
            <div class="contract-header">
              <div class="flex" style="cursor:pointer" target="_blank" th:onclick="@{/guest/booking/{id}(id=${booking.accommodationId})}"></div>
              <span class="badge gray">계약취소</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <h4 class="canceled_contract">취소된 계약</h4>
  </div>
</main>
</html>