<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="'단기임대 숙소 | 당근모아'"> 단기임대 숙소 | 당근모아 </title>
  <link rel="stylesheet" th:href="@{/css/booking-list.css}"/>
</head>

<main layout:fragment="main">
    <section class="content">
        <h3 class="title_left">계약관리</h3>
        <div class="guest_contract">
            <h4>완료된 계약</h4>
            <div class="content_list" th:each="booking : ${bookings}">
            <div class="contract-item" th:if="${booking.status == 1}">
                <div class="contract_header">
                    <div class="flex contract_info" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
                        <span class="badge orange">계약 완료</span>
                        <p class="room_title" th:text="${booking.title}">애버랜드</p>
                    </div>
                </div>
                <div class="contract_cont" style="align-items:center">
                    <dl class="room_item" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
<!--                            <dt>-->
<!--                                <img th:src="${booking.imageUrl}">-->
<!--                            </dt>-->
                        <dd>
                            <div class="room_address_ellipsis" th:text="${booking.lotAddress} + ${booking.detailAddress} + ${booking.floor}">용인시 처인구 애버랜드로</div>
                            <p class="room_period" th:text="${booking.checkInDate} + '~' + ${booking.checkOutDate}"></p>
                        </dd>
                    </dl>
                    <strong class="room.pay" th:text="${booking.totalPrice}"></strong>
                </div>
            </div>
            </div>
            <h4>만료된 계약</h4>
            <div class="content_list" th:each="booking : ${bookings}">
            <div class="contract-item" th:if="${booking.status == 3}">
                <div class="contract_header">
                    <div class="flex contract_info" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
                        <span class="badge gray">사용 완료</span>
                        <p class="room_title" th:text="${booking.title}">애버랜드</p>
                    </div>
                </div>
                <div class="contract_cont" style="align-items:center">
                    <dl class="room_item" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
<!--                            <dt>-->
<!--                                <img th:src="${booking.imageUrl}">-->
<!--                            </dt>-->
                        <dd>
                            <div class="room_address_ellipsis" th:text="${booking.lotAddress} + ${booking.detailAddress} + ${booking.floor}">용인시 처인구 애버랜드로</div>
                            <p class="room_period" th:text="${booking.checkInDate} + '~' + ${booking.checkOutDate}"></p>
                        </dd>
                    </dl>
                    <strong class="room.pay" th:text="${booking.totalPrice}"></strong>
                </div>
            </div>
            </div>
            <h4>취소된 계약</h4>
            <div class="content_list" th:each="booking : ${bookings}">
                <div class="contract-item" th:if="${booking.status == 2}">
                    <div class="contract_header">
                        <div class="flex contract_info" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
                            <span class="badge gray">사용 완료</span>
                            <p class="room_title" th:text="${booking.title}">애버랜드</p>
                        </div>
                    </div>
                    <div class="contract_cont" style="align-items:center">
                        <dl class="room_item" style="cursor:pointer;" th:onclick="@{/guest/room/detail/{id}(id=${booking.accommodationId})}">
                            <!--                            <dt>-->
                            <!--                                <img th:src="${booking.imageUrl}">-->
                            <!--                            </dt>-->
                            <dd>
                                <div class="room_address_ellipsis" th:text="${booking.lotAddress} + ${booking.detailAddress} + ${booking.floor}">용인시 처인구 애버랜드로</div>
                                <p class="room_period" th:text="${booking.checkInDate} + '~' + ${booking.checkOutDate}"></p>
                            </dd>
                        </dl>
                        <strong class="room.pay" th:text="${booking.totalPrice}"></strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</html>