<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title th:text="'단기임대 숙소 | 당근모아'"> 단기임대 숙소 | 당근모아 </title>
  <link rel="stylesheet" th:href="@{/css/booking-list.css}"/>
</head>

<main layout:fragment="main">
  <section class="content">
    <div class="guest_more">
      <p class="title_left">더보기</p>
      <div class="flex">
        <div class="left_content">
          <div class="guest_info border_line">
            <dl>
              <dt class="user_pic_url">
<!--                user Profile 이미지 tymeleaf로 받아오기-->
                <img id="img_pic_profile" th:src="">
              </dt>
<!--                user 정보 tymeleaf에 담아오기-->
              <dd style="width:170px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <strong>최이재</strong>
                <p></p>
              </dd>
            </dl>
            <span class="normal_badge">게스트</span>
          </div>
          <div class="more_menu_boarder_line">
            <strong>모아보기</strong>
            <ul>
                <li>
                    <a th:href="">좋아요한 방</a>
                </li>
                <li>
                    <a th:href="">최근 본 방</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="right_content">

        </div>
      </div>
    </div>
  </section>
</main>
</html>