<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${room.title} + ' 단기임대 숙소 | 당근모아'"> 단기임대 숙소 | 당근모아 </title>
    <link rel="stylesheet" th:href="@{/css/guest_room_detail.css}"/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>

<main layout:fragment="main">
    <div class="flex">
        <div class="container" th:object="${room}">
            <div class="row">
                <div class="col-md-8">
                    <div class="room_info">
                        <div class="title">
                            <h2 th:text="*{title}">애버랜드</h2>
                            <p th:text="*{roadAddress}">용인시 처인구 애버랜드로</p>
                        </div>
                        <div class="room_images" id="roomImages">
                            <div th:each="image, iterStat : ${room.imageUrls}" class="room-image-wrapper">
                                <img th:src="${image}" class="room-image"  th:if="${iterStat.index == 0}" />
                            </div>
                            <div class="image_controls">
                                <button class="slider-button prev" onclick="prevImage()">&#10094;</button>
                                <button class="slider-button next" onclick="nextImage()">&#10095;</button>
                                <div class="image-index" id="imageIndex">1/8</div>
                            </div>
<!--                            <div class="image-controls">-->
<!--                                <button onclick="prevImage()">&#10094;</button>-->
<!--                                <button onclick="nextImage()">&#10095;</button>-->
<!--                            </div>-->
                        </div>
                        <script th:src="@{/js/image_swiper.js}"></script>
                        <div class="room_content">
                            <strong> 소개합니다 </strong>
                            <p th:text="*{content}"></p>
                        </div>
                        <div class="room_amenity">
                            <strong>기본 옵션 정보</strong>
                            <div class="amenity_info" th:each="amenity : ${amenities}">
                                <img th:src="${amenity.iconUrl}">
                                <p th:text="${amenity.name}"></p>
                            </div>
                        </div>
                        <div class="transportation_info">
                            <strong>교통 & 위치</strong>
                            <p th:text="${room.lotAddress} + ${room.detailAddress}"></p>
                            <p th:text="${room.transportationInfo}"></p>
                        </div>
                    </div>
                </div>
                <div class="room_space_count">
                    <strong>공간 기본 정보</strong>
                    <div class="space_info_container">
                        <div class="space_info" th:each="icon : ${icons}">
                            <img th:src="${icon.icon}" alt="Space Icon">
                        </div>
                        <div class="space_info_count" th:each="count : ${room.spaceCounts}">
                            <p th:text="${count}"> 개</p>
                        </div>
                    </div>
                </div>
                <div class="profile" th:each="profile : ${profile}">
                    <dl>
                        <dt class="profile_img">
                            <img th:src="${profile.picUrl}" id="pic_url">
                        </dt>
                        <dd class="profile_info">
                            <div class="profile_name">
                                <strong th:text="${profile.nickname}">최이재</strong>
                            </div>
                            <p class="introduce" th:text="${profile.bio}">안녕하세요:)</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="room_contract">
            <div class="top_icon">
                <button type="button" class="btn_like">
                    <span class="blind">찜하기</span>
                </button>
            </div>
            <div class="col-md-4">
                <div class="contract-card">
                    <div class="reservation-container">
                        <div class="reservation" id="calendar">
                            <script th:src="@{/js/room_booking.js}"></script>
                        </div>
                    </div>
                    <div class="btn_date_full">
                        <a id="btn_check_checkin" class="btn medium white" style="display: none;">
                            날짜를 선택해주세요
                        </a>
                        <div class="line_box" id="div_checkin_schedule" style>
                            <p>
                                체크인 날짜
                                <span id="checkin-dates"></span>
                            </p>
                        </div>
                        <div class="line_box" id="div_checkout_schedule" style>
                            <p>
                                체크아웃 날짜
                                <span id="checkout-dates"></span>
                            </p>
                        </div>
                    </div>
                    <div class="room_pay">
                        <p>
                            <strong th:text="${room.price} + '원 / 1주'"></strong>
                        </p>
                    </div>
                    <div class="total_price_box" id="estimated_booking">
                        <div class="popup_content" style="padding-top:12px;">
                            <div class="popup_contract">
                                <div class="flex total" style="margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px solid #DFDFDF;">
                                    <span> 최종 결제 금액 </span>
                                </div>
                                <ul class="contract-list">
                                    <li>
                                        <span>숙박료</span>
                                        <p id="price" data-price="${room.price}"><span th:text="${room.price} + '원 / 1주'"></span></p>
                                    </li>
                                    <li>
                                        <span>총 숙박일</span>
                                        <p id="nights-count"></p>
                                    </li>
                                    <li>
                                        <span>총 숙박료</span>
                                        <p id="total-price">0원</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button onclick="openCalendar()">계약하기</button>
                </div>
            </div>
        </div>
    </div>
</main>