<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Host</title>
  <link rel="stylesheet" th:href="@{/css/kakaomap-accommodation.css}"/>
</head>

<main layout:fragment="main">
  <div class="map_wrap">
    <div id="map"></div>
    <div class="controls">
      <select id="markerFilter">
        <option value="all">모두 보기</option>
        <option value="exhibitions">전시회만 보기</option>
        <option value="performances">공연장만 보기</option>
      </select>
      <button id="currentLocationBtn" onclick="setCurrentLocation()">
        <img id="currentLocation" src="/images/icons/gps.png" alt="현재 내 위치">
      </button>
    </div>
  </div>
</main>
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1330cd31f56b3c0190d9b719e06fe432&libraries=services&libraries=clusterer"></script>
<script th:src="@{/js/kakaomap-accommodation.js}"></script>
</html>