<div class="chat-container">

    <div class="chat-main-container">
        <div class="chat-sidebar">
            <div class="chat-list">
                <div id="chat-room-list" class="chat-room-list">
                    <div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-main">
            <div class="chat-find-user">
                <div class="chat-modal-close-div">
                    <button id="chat-close-modal" type="button">닫기</button>
                </div>
                <div>
                    <input type="text" id="chat-find-user-search" placeholder="닉네임을 검색해주세요" minlength="2">
                    <span id="chat-find-result-nickname"></span>
                <input type="hidden" id="chat-find-result-id">
                    <input type="button" id="chat-find-user" value="찾기">
                <button id="chat-room-create" type="button">채팅시작</button>
                </div>
            </div>
            <div class="chat-header">
            </div>
            <div class="chat-messages" id="chat-messages">

            </div>
            <form class="chat-footer" th:object="${chatMessageRequest}" id="chat-form">
                <input type="hidden" id="userId" th:field="*{userId}" th:value="${user.getUserProfile().getUserId()}"/>
                <input type="hidden" id="chat-room-id" th:field="*{chatRoomId}"/>
                <input type="hidden" id="message" th:field="*{message}"/>
            </form>
        </div>
    </div>
    <div>

        <input type="text" class="chat-message-input" id="input-message"/>
        <button id="send-message-btn" class="chat-send-button" type="button">전송</button>
    </div>


</div>