<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="chat-list">
                <div id="chat-room-list">
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-main">
            <div class="chat-header">
                <h3>채팅방 제목</h3>
            </div>
            <div class="chat-messages" id="chat-messages">

            </div>

            <form class="chat-footer" th:object="${chatMessageRequest}" id="chat-form">
                <input type="hidden" id="userId"  th:field="*{userId}" th:value="${user.getUserProfile().getUserId()}"/>
                <input type="hidden" id="chat-room-id"  th:field="*{chatRoomId}"/>
                <input type="text" id="input-message" th:field="*{message}"/>
                <button id="send-message-btn" type="button">전송</button>
            </form>
                <button id="get-chat-room-list">호출</button>
        </div>
        <div class="chat-find-user">
            <input type="text" id="chat-find-user-search" placeholder="유저 찾기" minlength="2">
            <input type="button" id="chat-find-user" value="찾기">
        </div>
    </div>

</body>
<script src="/js/chat.js"></script>

</html>
