<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>테스트</title>
</head>

<main layout:fragment="main">
<!--            한줄소개 , 프로필사진 . 닉네임-->
<!--            이동링크 -> 내 프로필 , 서비스-->
        <div class="child">
            <div class="profile_area">
                <div class="profile_inner">
                    <a href="#" class="photo">
                        <img src="https://static.nid.naver.com/images/web/user/default.png" width="84" height="84" alt="프로필 이미지">
                        <span class="photo_edit"></span>
                    </a>
                    <div class="profile">
                        <p class="useid">닉네임</p>
                        <p class="usemail">이메일</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="child">asd</div>
</main>
</html>