<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/css/flea-market.css}"/>
  <title>중고거래</title>
</head>
<main class="main-container" layout:fragment="main">
  <div class="cover cover-flea-market">
    <div class="cover-content">
      <h1 class="cover-title">
        믿을만한 <br>
        이웃 간 중고거래
      </h1>
      <span>
        동네 주민들과 가깝고 따뜻한 거래를 <br>
        지금 경험해보세요.
      </span>
      <div class="cover-image-100">
        <img alt="" src="/images/cover/fleamarket.png">
      </div>
    </div>
  </div>
  <div class="flea-market-article-list">
    <div class="article-list-title">
      중고거래 인기매물
    </div>
    <div class="product-list" id="product-list"></div>
    <button class="load-btn" id="load-more">인기매물 더보기</button>
  </div>

  <div th:unless="${user == null}">
    <button class="write-button" id="write-post-btn"> + 글쓰기</button>
  </div>

  <template id="article-template">
    <article>
      <a class="post-link" href="#">
        <div class="article-image">
          <img alt="샘플" src="/images/sample.png">
        </div>
        <div class="article-info">
          <div class="title article-title"></div>
          <div class="price article-price"></div>
          <div class="address article-address"></div>
          <div>
            <span class="article-like">관심 10</span>
            <span> ㅤ</span>
            <span class="article-chat">채팅 10</span>
          </div>
        </div>
      </a>
    </article>
  </template>
  <script src="/js/flea-market.js" type="text/javascript"></script>
</main>
</html>