body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.roomImages {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 692px;
    height: 400px;
}

.room_image_wrpper {
    width: 692px;
    height: 400px;
    display: none;
    position: absolute;;
}

.room_image {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

/*.image-controls {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    transform: translateY(-50%);*/
/*}*/

/*.image-controls button {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*}*/

.slider-button {
    position: absolute;
}

.contract-card {
    position: sticky;
    top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
}

.contract-card button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.room_amenity {
    margin: 20px;
}
.amenity_info {
    display: flex;
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.profile_img {
    display: inline-block; /* 또는 flex 사용 가능 */
    vertical-align: top; /* 이미지가 위쪽에 정렬되도록 */
}

.profile_info {
    display: inline-block; /* 또는 flex 사용 가능 */
    margin-left: 10px; /* 이미지와의 간격을 조절 */
}
.line_box {
    display: flex;
}