/*알림 관련 css */
.notification-modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    right: 80px; /* 오른쪽 정렬 */
    top: 60px; /* 상단 여백 */
    width: 400px; /* 가로 길이 */
    max-height: 80%; /* 최대 세로 길이 */
    overflow-y: auto; /* 세로 스크롤 가능 */
    background-color: #fff; /* 배경색 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    padding: 20px; /* 내부 여백 */
}

.notification-modal div {
    color: black;
}


.notification-header {
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-between; /* 양쪽 끝으로 배치 */
    font-size: 18px; /* 폰트 크기 */
    margin-bottom: 15px; /* 아래 여백 */
    align-items: flex-end;
}

.notification-close {
    font-size: 24px; /* 크기 조정 */
    color: #888; /* 회색으로 설정 */
    cursor: pointer; /* 포인터 커서 표시 */
    transition: color 0.3s; /* 색상 변화 애니메이션 추가 */
    justify-items: flex-start;
}

/* hover 시 색상 변경 (선택 사항) */
.notification-close:hover {
    color: #555; /* hover 시 더 어두운 회색으로 변경 */
}

.notification-menu {
    margin-bottom: 15px; /* 아래 여백 */
    display: flex;
    justify-content: space-around;
}

.notification-menu div {
    font-weight: bold; /* 글씨를 굵게 */
    margin: 5px 0; /* 위아래 여백 */
}

.notification-content {
    border-top: 1px solid #ccc; /* 상단 경계선 */
    padding-top: 10px; /* 경계선과 내용 간의 여백 */
    text-align: center;
}

.notification-menu div a{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: black;
}

.notification-menu div a:hover{
    background-color: transparent;
}

.notification-entry {
    display: flex; /* 플렉스 박스 사용 */
    align-items: flex-start; /* 세로 정렬을 시작으로 설정 */
    margin-bottom: 15px; /* 각 알림 항목 간의 간격 */
}

.notification-user-pic {
    flex: 0 0 50px; /* 고정된 너비 설정 */
    height: 50px; /* 높이 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    overflow: hidden; /* 자식 요소가 원형을 넘지 않도록 설정 */
    display: flex; /* 내부 내용 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    background-color: #f0f0f0; /* 배경색 (이미지가 없을 경우) */
    margin-right: 20px;

}

.notification-user-pic img {
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
    height: 100%; /* 부모 요소의 높이에 맞게 조정 */
    object-fit: cover; /* 이미지 비율 유지하며 크기 조정 */
}

.notification-details {
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.notification-title {
    font-weight: bold; /* 제목 굵게 */
    margin-bottom: 5px; /* 제목과 내용 간의 간격 */
}

.notification-message {
    margin-bottom: 5px; /* 내용과 날짜 간의 간격 */
}

.notification-createdAt {
    font-size: 12px; /* 날짜 폰트 크기 */
    color: #888; /* 날짜 색상 설정 */
}

/* 추가된 날짜 부분 */
.notification-details > div:last-child {
    margin-top: 10px; /* 날짜와 내용 간의 간격 조정 */
}

.notification-entry {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}