<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>테스트</title>
</head>

<main layout:fragment="main">
  <div class="cover cover-color3">
    <div class="cover-content">
      <h1 class="cover-title">
        동동네네 <br>
        생생할활
      </h1>
      <span>
        동네네네 <br>
        경경험
      </span>
      <div class="cover-image-90">
        <img alt="" src="/images/cover/cover2.png">
      </div>
    </div>
  </div>
</main>
</html>