<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>중고거래</title>
</head>
<main layout:fragment="main" class="main-container">
  <div class="cover cover-flea-market">
    <div class="cover-content">
      <h1 class="cover-title">
        믿을만한 <br>
        이웃 간 중고거래
      </h1>
      <span>
        동네 주민들과 가깝고 따뜻한 거래를 <br>
        지금 경험해보세요.
      </span>
      <div class="cover-image">
        <img src="/images/cover/cover1.png" alt="">
      </div>
    </div>
  </div>

  <div class="flea-market-article-list">
    <div class="article-list-title">중고거래 인기매물</div>
  </div>
</main>
</html>