<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>당근모아 | 숙소</title>
  <link rel="stylesheet" th:href="@{/css/test001.css}"/>
  <link rel="stylesheet" th:href="@{/css/guest-search-main.css}"/>
</head>

<body>
<div th:replace="~{fragments/side-left::side-left}">왼쪽 사이드바</div>
<main class="main-container" layout:fragment="main">
  <div class="cover cover-color2">
    <div class="cover-content">
      <h1 class="cover-title">
        당근모아 <br>
        숙소모아
      </h1>
      <span>
                당근모아 숙소 <br>
                지금 경험해보세요.
            </span>
      <div class="cover-image-90">
        <img alt="" src="/images/cover/cover3.png">
      </div>
    </div>
  </div>
  <div class="test001div">
    <div class="search-bar-container">
      <h2 class="main-text"></h2>
      <div class="keyword-input">
                <span style="display: flex; justify-content: center; align-items: center;">
<!--                    th:href="@{/room/detail/{id}(id=${room.id})}" 써보기, controller에서는 @PathVariable-->
                    <form method="get" th:action="@{/guest/search}">
                        <input id="keyword" name="keyword" placeholder="주소, 지역, 이름 등 키워드를 입력하세요." type="text">
                        <button type="submit">검색</button>
                    </form>
                </span>
          <div class="map_search">
              <a th:href="@{/search/map}">지도로 검색</a><br>
          </div>
          <div class="host_menu">
              <a th:href="@{/host/room/manage}">호스트세요?</a>
          </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{fragments/side-right::side-right}">오른쪽 사이드바</div>
</body>
</html>