<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <title>지도 API 연습</title>
  <link href="/css/kakaomap-accommodation.css" rel="stylesheet">
</head>
<body>
<div class="map_wrap">
  <div id="map"></div>
  <div class="controls">
    <select id="markerFilter">
      <option value="all">모두 보기</option>
      <option value="exhibitions">전시회만 보기</option>
      <option value="performances">공연장만 보기</option>
    </select>
    <button id="currentLocationBtn" onclick="setCurrentLocation()">
      <img alt="현재 내 위치" id="currentLocation" src="/images/icons/gps.png">
    </button>
  </div>
</div>

<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1330cd31f56b3c0190d9b719e06fe432&libraries=services&libraries=clusterer"
        type="text/javascript"></script>
<script src="/js/kakaomap-accommodation.js" type="text/javascript"></script>
</body>
</html>