<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>지도 API 연습</title>
  <link href="/css/user-neighborhood.css" rel="stylesheet">
</head>
<body>
<div th:fragment="setMyNeighborhoodMap">
  <div class="map_wrap">
    <div id="map"></div>
    <button id="currentLocationBtn" onclick="setCurrentLocation()">
      <img alt="현재 내 위치" id="currentLocation" src="/images/icons/gps.png">
    </button>
    <div id="addressInfo">
      <span class="title">지도중심기준 행정동 주소정보 </span><!-- 주소 정보를 표시할 요소 추가 -->
      <span id="centerAddr"></span> <!-- 행정동 주소를 표시할 부분 -->
    </div>
    <button id="confirmButton" onclick="handleConfirm()">선택 완료</button>
  </div>
  <div id="addressDisplay" style="padding: 10px; font-weight: bold;"></div> <!-- 주소 표시할 요소 추가 -->
</div>

<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1330cd31f56b3c0190d9b719e06fe432&libraries=services"
        type="text/javascript"></script>
<script src="/js/user-neighborhood.js" type="text/javascript"></script>
</body>
</html>