<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment name="profile-password-update">
  <div name="login-form">
    <a class="user-form-logo" href="/">
      <img alt="logo" src="/images/main-logo.png">
      <span name="login-logo">CARROTMOA</span>
    </a>
    <form class="user-form" id="join-form" th:action="@{/api/user/password-update}" th:method="post">
      <label for="use-password">사용중인 비밀번호</label>
      <input id="use-password" maxlength="36" name="use-password" type="password"><br>
      <label for="new-password">새 비밀번호</label>
      <input id="new-password" maxlength="36" name="new-password" type="password"> <span id="new-password-check"></span> <br>
      <label for="password-reconfirm">비밀번호 확인</label>
      <input id="password-reconfirm" maxlength="36" name="password-reconfirm" required type="password"><span id="password-reconfirm-check"></span>
      <br>
      <span style="color: #868B94">비밀번호는 소문자 , 대문자 , 특수문자 , 숫자를 하나 이상씩 사용해<br>
                                     최소 8자 이상 36자 이하로 만들어야해요</span>
      <input th:value="${user.getUserProfile().getUserId()}" type="hidden">
      <input type="submit" value="변경">
    </form>
  </div>

</div>
</html>

